
<link rel="canonical"
	href="https://getbootstrap.com/docs/4.3/examples/checkout/">

Bootstrap core CSS
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<nav class="p-2 mb-3 navbar navbar-expand-md fixed-top "
	style="background-color: rgb(0, 0, 100);"
	xmlns:th="http://www.thymeleaf.org">

	<div class="container-fluid">
		<div class="container_header">

			<a class="navbar-brand" style="text-align: center;" href="/"> <img
				th:src="@{/images/cadopi.png}" alt="" width="80px" height="70px">


			</a>
			<div class=" collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">


				<ul class=" p-4 mb-3 nav justify-content-end fixed-top">

					<li class="nav-item"><a
						th:if="${#request.userPrincipal ==null}" th:href="@{/login}"
						class="navbar-brand" style="color: #ecf0f1;">Connexion</a></li>
						
						<li class="nav-item"><a
						th:if="${#request.userPrincipal != null}" th:href="@{/}"
						class="navbar-brand" style="color: #ecf0f1;">Chargement OPI</a></li>

					<li class="nav-item"><a
						th:if="${#request.userPrincipal != null}" th:href="@{/historique}"
						class="navbar-brand" style="color: #ecf0f1;">Historique</a></li>

					<li class="nav-item"><a
							th:if="${#request.userPrincipal != null}" th:href="@{/compteRendu}"
							class="navbar-brand" style="color: #ecf0f1;">Compte rendu OPI</a></li>

					<li class="nav-item"><a th:href="@{/contact}"
						class="navbar-brand" style="color: #ecf0f1;">Contact</a></li>
					<li class="nav-item dropdown"
						th:if="${#request.userPrincipal != null}"><i
						class="fas fa-user"></i> <a class="nav-link dropdown-toggle"
						data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
						aria-expanded="false" style="color: #ecf0f1;"> Profil
							[[${#httpServletRequest.remoteUser}]]</a>
						<div class="dropdown-menu">
							<a th:if="${#request.userPrincipal != null}"
								class="dropdown-item" th:href="@{/logout}">Déconnexion</a>
						</div></li>

				</ul>
			</div>
		</div>
	</div>

</nav>
<nav class="p-7 mb-5 nav nav-underline"
	style="background-color: rgb(240, 78, 0);">
	<div class="mb-4 container_header">
		<img class="d-block mx-auto mb-4" alt="" width="60" height="60">


	</div>
</nav>





